[submodule "third_party/shmem"]
	path = third_party/shmem
	url = https://gitcode.com/cann/shmem.git
[submodule "third_party/asc-devkit"]
	url = https://gitcode.com/cann/asc-devkit.git
	path = third_party/asc-devkit
	branch = feature/tensor_api_from_9.0.0
